@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 96%;
    --foreground: 220 48% 11%;
    --card: 210 22% 96%;
    --card-foreground: 220 48% 11%;
    --popover: 210 22% 96%;
    --popover-foreground: 220 48% 11%;
    --primary: 256 90% 67%;
    --primary-foreground: 210 22% 96%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 220 26% 25%;
    --muted: 210 20% 90%;
    --muted-foreground: 220 15% 40%;
    --accent: 177 100% 36%;
    --accent-foreground: 210 22% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 85%;
    --input: 210 17% 85%;
    --ring: 256 90% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 48% 11%;
    --foreground: 210 22% 96%;
    --card: 220 48% 11%;
    --card-foreground: 210 22% 96%;
    --popover: 220 48% 11%;
    --popover-foreground: 210 22% 96%;
    --primary: 256 90% 67%;
    --primary-foreground: 210 22% 96%;
    --secondary: 220 26% 25%;
    --secondary-foreground: 210 22% 96%;
    --muted: 220 26% 25%;
    --muted-foreground: 210 15% 65%;
    --accent: 177 100% 36%;
    --accent-foreground: 210 22% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 26% 25%;
    --input: 220 26% 25%;
    --ring: 256 90% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent;
}
